@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Festive&family=Zen+Loop&display=swap');
body{
    background-color: yellow;
}
h1{
    font-family: 'Festive', cursive;
    text-align: center;
    font-size: 140px;
    margin-bottom: 0px;
}
h2{
    font-family: 'Zen Loop', 'cursive';
    text-align: center;
    background-color: black;
    color: white;
    font-size: 50px;
    width: 100%;
    /*height: 80px;*/
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
p{
    width: 100%;
    text-align: center;
}
.btn {
    font-family:'cursive';
    font-size: 30px;
    background-color: black;
    color: seagreen;
    padding: 5px 30px 5px 30px;
    text-decoration: none;
    border-top: 3px solid seagreen;
    border-right: 3px solid seagreen;
    border-bottom: 3px solid seagreen;
    border-left: 3px solid seagreen;
    border-radius: 10px; 
}
.btn:hover{
    font-family:sans-serif;
    font-size: 25px;
    background-color: green;
    color: red;
    border-top: solid 3px red;
    border-bottom: solid 3px red;
    border-radius: 0px;
}
