

body {
    background-color: lightgray;
}

h1 {
    color: blue
}

h2 {
    color: #ba521f
}

h2 {
    color: #ba521f
}

p {
    color: red;
    background-color: green
}

img {
    height: 100px;
    width: 100px
}