.losmalos{
    background-color:red
}
.losbuenos{
    background-color:blue
}
#malomalo{
    font-size: 250%
}
#buenobueno{
    font-style: italic
}
.soldado{
    border:dashed;
    letter-spacing
}
.naves{
    text-transform: uppercase
}
p{
    font-size: 10%;
    font-size: 400%
}